.footer {
  background-color: #000;
  position: relative;
}

.footer .container svg {
  width: 128px;
  position: absolute;
  top: -70px;
}

.footer .container {
  grid-template-columns: 1fr 1fr;
  padding: 100px 0;
}

.footer .texto-rodape p {
  max-width: 32ch;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 32px;
  color: #ccc;
  margin-bottom: 170px;
}

.footer .infos-contato {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.footer .infos-contato a {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  color: #fff;
  text-decoration: none;
}

.footer .container .direitos {
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #8f8f8f;
}

@media (max-width: 800px) {
  .footer .container {
    grid-template-columns: 1fr;
    padding: 60px 20px;
    gap: 30px;
  }

  .footer .texto-rodape p {
    margin: 0;
    max-width: 46ch;
  }

  .footer .infos-contato a {
    font-size: 30px;
  }

  .footer .container svg {
    width: 75px;
    top: -40px;
  }

  /* fim */
}
